<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ELITR Online Text Flow</title>
    <style>
      .row {
        display: flex;
        justify-content: center;
      }

      .column {
        flex: 0 0 50%;
      }

      .flash {
        background-color: orange;
        color: white;
        font-family: sans serif;
      }

      a {
        text-decoration: none;
      }
    </style>
  </head>
  <body>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="flash" class="flash row">
      <div class="flash column">
        {% for message in messages %}
        <div>{{ message }}</div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% endwith %}

    <div class="row">
      <div class="column">
        <h1>ELITR <a href="http://github.com/ELITR/online-text-flow">Online Text Flow</a></h1>
        <div>
          <form action="/login" method="POST">
            <input type="username" name="user" placeholder="username">
            <input type="password" name="pass" placeholder="password">
            <input type="submit" value="Log In">
          </form>
        </div>
      </div>
    </div>

    <script>
      setTimeout(function () {
          elem = document.getElementById("flash");
          if (elem) {
            elem.style.display = "none";
          }
        }, 2000);
    </script>

  </body>
</html>
